<h1>Weather App</h1>

<%= form_tag(weather_index_path, method: :post) do %>
  <div class="field">
    <%= label_tag :city, 'Enter City Name:' %>
    <%= text_field_tag :city, nil, placeholder: 'e.g., New York', required: true %>
  </div>

  <%= submit_tag 'Get Weather', class: 'btn btn-primary' %>
<% end %>

<% if @city.present? && @weather_data.present? %>
  <h2>Data is available.</h2> <!-- Add this line for debugging -->

  <h2>Temperature: <%= @temperature %></h2>
  <!-- Add other weather information here -->
<% else %>
  <h2>Data is not available.</h2> <!-- Add this line for debugging -->
<% end %>

<h3>hello<h3>



